__pycache__/
outputs/
logs/
logs_gen/
logs_gen_ldp_check/
logs_opt/
*.pyc
*.png
*.txt
*.pdf
*.csv
*.svg

*.pth
*.pkl
*.pt
*.ckpt
*.arrow

dataset/
*_model*/
scripts/
scripts_gen/
scripts_gen_ldp_check/
scripts_opt/